{% extends "default/base.html.twig" %}
{% block content %}
<h1>Registered Users</h1>
<div class="row">
    <div class="col-md-12">
        {% if users is empty %}
            <div class="alert alert-warning">
                <strong>No user registered yet. Do you want to <a href="{{ path('page::user-registration-form') }}">add yourself</a>?</strong>
            </div>
        {% else %}
            <div class="list-group">
                {% for user in users %}
                    <a href="{{ path('page::user-todo-list', {'userId': user.id} ) }}" class="list-group-item"><strong>{{ user.name }}</strong>
                    <small class="text-info">
                        &nbsp;&nbsp;open Todos: {{ user.open_todos + user.expired_todos }}&nbsp;&nbsp;|
                        &nbsp;&nbsp;expired Todos: {{ user.expired_todos }}&nbsp;&nbsp;|
                        &nbsp;&nbsp;closed Todos:&nbsp;{{ user.done_todos }}
                    </small></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
