<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}proophessor-do-symfony!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets filter="cssrewrite"
        "bundles/app/css/bootstrap.slate.min.css"
        "bundles/app/css/bootstrap.datetimepicker.css"
        "bundles/app/css/style.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('page::home') }}">proophessor-do-symfony</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div><!--/.nav-collapse  -->
    </div>
</nav>
<div class="row">
    <div class="hidden-xs col-sm-3 col-md-2">
        <div id="sidebar-left" data-spy="affix" data-offset-top="60">
            <ul class="sidebar-nav">
                <li>
                    <a href="{{ path('page::home') }}">Welcome Screen</a>
                </li>
                <li>
                    <a href="{{ path('page::user-list') }}">Manage Users</a>
                </li>
                <li>
                    <a href="#/create">Manage Todos</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-7 col-md-8">
        {% block content %}{% endblock %}
        <hr>
        <footer>
            <p>&copy; 2014 - {{ "now"|date("Y") }} by prooph software GmbH. All rights reserved.</p>
        </footer>
    </div>
    <div class="col-sm-2 col-md-2">
        {% if sidebar_right is defined %}{{ sidebar_right|raw }}{% endif %}
    </div>
</div>

    {% include "AppBundle:Default:scripts.html.twig" %}
    {% block javascripts %}{% endblock %}
</body>
</html>
